<!-- template segunda entrega -->

{% extends "base.html" %}
<!-- Carrega as tags do pacote crispy-forms para estilizar o formulário -->
{% load crispy_forms_tags %}

{% block page_title %}
    <h2>Inscreva-se na Newsletter</h2>
{% endblock page_title %}

{% block page_content %}
<!-- Formulário para envio de dados -->
    <form method="post">
        <!-- Token CSRF para proteger o formulário contra ataques CSRF -->
        {% csrf_token %}
        <!-- Renderiza o formulário utilizando o estilo do crispy-forms -->
        {{ form|crispy }}
        <!-- Botão para enviar o formulário -->
        <button type="submit" class="btn btn-primary">Inscrever-se</button>
    </form>
    
    <p>Receba as últimas novidades diretamente no seu e-mail!</p>
{% endblock page_content %}