<!-- template para o envio de sugestões de post -->
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}
    <h2>Enviar Sugestão de Post</h2>
{% endblock page_title %}

{% block page_content %}
<!-- Formulário para envio de dados -->
    <form method="post">
        <!-- Token CSRF para proteger o formulário contra ataques CSRF -->
        {% csrf_token %}
        <!-- Renderiza o formulário utilizando o estilo do crispy-forms -->
        {{ form|crispy }}
        <!-- Botão para enviar o formulário -->
        <button type="submit" class="btn btn-primary">Enviar Sugestão</button>
    </form>
    
    <p>Você não precisa estar logado para enviar uma sugestão!</p>
{% endblock page_content %}